<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.min.css"
/>
  <title>Document</title>
</head>
<body>
  <section class="hero">
    <div class="hero-body">
      <div class="container title-container has-text-centered">
        <h1 class="title">
          sample websites
          <!-- <div class="tags has-addons is-pulled-right">
						<span class="tag">Version</span>
						<span class="tag is-info">1.2.3</span>
					</div> -->

          <!-- <img src="https://awesome.re/badge-flat2.svg"> -->
        </h1>
        <h2 class="subtitle">Based on the <a href="https://bulma.io">Bulma</a> CSS Framework</h2>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </section>
  <div class="container content-wrapper mt-6">
    <div class="columns is-multiline">
      <div class="column is-6">
        <div class="card card1" style="animation-duration: 700ms; animation-name: slideDown; animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1.5); animation-delay: 200ms;">
          <header class="card-header">
            <p class="card-header-title">
              <span>Bulma Sushi Restaurant</span>
              <span class="is-pulled-right">
                <span class="tag is-default is-info"><i class="fas fa-mobile-alt" title="Mobile support"></i></span>
                <span class="tag is-default is-info"><i class="fas fa-desktop" title="Desktop support"></i></span>
                <span class="tag is-primary">0.9.0</span>
              </span>
            </p>
          </header>
          <div class="card-content">
            <figure class="image">
              <a href="/sushi/"><img src="<%= require('./images/website-sushi.jpg') %>"  alt="Sushi template screenshot"></a>

            </figure>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" href="/sushi/" target="_blank">Preview</a>
            <!-- <a class="card-footer-item" href="https://github.com/restylianos/bulma-tropico-template" target="_blank">Source code</a> -->
          </footer>
        </div>
      </div>
      <div class="column is-6">
        <div class="card card2" style="animation-duration: 700ms; animation-name: slideDown; animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1.5); animation-delay: 400ms;">
          <header class="card-header">
            <p class="card-header-title">
              <span>Bulma My Dishes</span>
              <span class="is-pulled-right">
                <span class="tag is-success">Updated</span>
                <span class="tag is-default is-info"><i class="fas fa-mobile-alt" title="Mobile support"></i></span>
                <span class="tag is-default is-info"><i class="fas fa-desktop" title="Desktop support"></i></span>
                <span class="tag is-primary">0.9.0</span>
              </span>
            </p>
          </header>
          <div class="card-content">
            <figure class="image">
              <a href="/dish/"><img src="<%= require('./images/website-dish.jpg') %>"  alt="Sushi template screenshot"></a>
            </figure>
          </div>
          <footer class="card-footer">
            <a href="/dish/" class="card-footer-item" target="_blank">Preview</a>
            <a href="#" class="card-footer-item" target="_blank">Source Code</a>
          </footer>
        </div>
      </div>
      <div class="column is-6">
        <div class="card card3" style="animation-duration: 700ms; animation-name: slideDown; animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1.5); animation-delay: 600ms;">
          <header class="card-header">
            <p class="card-header-title">
              <span>Bootstrap Photo Studio</span>
              <span class="is-pulled-right">
                <span class="tag is-success">Updated</span>
                <span class="tag is-default is-info"><i class="fas fa-mobile-alt" title="Mobile support"></i></span>
                <span class="tag is-default is-info"><i class="fas fa-desktop" title="Desktop support"></i></span>
                <span class="tag is-primary">0.9.0</span>
              </span>
            </p>
          </header>
          <div class="card-content">
            <figure class="image">
              <a href="/photo/"><img src="<%= require('./images/website-photo.jpg') %>"  alt="Sushi template screenshot"></a>
            </figure>
          </div>
          <footer class="card-footer">
            <a href="/photo/" class="card-footer-item" target="_blank">Preview</a>
            <a href="#" class="card-footer-item" target="_blank">Source Code</a>
          </footer>
        </div>
      </div>
      <div class="column is-6">
        <div class="card card4" style="animation-duration: 700ms; animation-name: slideDown; animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1.5); animation-delay: 800ms;">
          <header class="card-header">
            <p class="card-header-title">
              <span>Product Landing Page</span>
              <span class="is-pulled-right">
                <span class="tag is-default is-info"><i class="fas fa-mobile-alt" title="Mobile support"></i></span>
                <span class="tag is-default is-info"><i class="fas fa-desktop" title="Desktop support"></i></span>
                <span class="tag is-primary">0.9.0</span>
              </span>
            </p>
          </header>
          <div class="card-content">
            <figure class="image">
              <img src="previews/product_landing_page.png" alt="Product/App Landing Page template screenshot">
            </figure>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" href="http://bulma-template.runkodapps.com/" target="_blank">Preview</a>
            <a class="card-footer-item" href="https://github.com/hellobetkowski/bulma-product-landing-page-template/" target="_blank">Source code</a>
          </footer>
        </div>
      </div>
      <div class="column is-6">
        <div class="card card5" style="animation-duration: 700ms; animation-name: slideDown; animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1.5); animation-delay: 1000ms;">
          <header class="card-header">
            <p class="card-header-title">
              <span>CV</span>
              <span class="is-pulled-right">
                <span class="tag is-success">Updated</span>
                <span class="tag is-default is-info"><i class="fas fa-mobile-alt" title="Mobile support"></i></span>
                <span class="tag is-default is-info"><i class="fas fa-desktop" title="Desktop support"></i></span>
                <span class="tag is-primary">0.9.0</span>
              </span>
            </p>
          </header>
          <div class="card-content">
            <figure class="image">
              <img src="previews/cv.png" alt="CV template screenshot">
            </figure>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" href="https://aldi.github.io/bulma-cv-template/" target="_blank">Preview</a>
            <a class="card-footer-item" href="https://github.com/aldi/bulma-cv-template/" target="_blank">Source code</a>
          </footer>
        </div>
      </div>
      <div class="column is-6">
        <div class="card card6" style="animation-duration: 700ms; animation-name: slideDown; animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1.5); animation-delay: 1200ms;">
          <header class="card-header">
            <p class="card-header-title">
              <span>Rent</span>
              <span class="is-pulled-right">
                <span class="tag is-success">Updated</span>
                <span class="tag is-default is-info"><i class="fas fa-mobile-alt" title="Mobile support"></i></span>
                <span class="tag is-default is-info"><i class="fas fa-desktop" title="Desktop support"></i></span>
                <span class="tag is-primary">0.9.0</span>
              </span>
            </p>
          </header>
          <div class="card-content">
            <figure class="image">
              <img src="previews/rent.png" alt="Rent template screenshot">
            </figure>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" href="https://aldi.github.io/bulma-rent-template/" target="_blank">Preview</a>
            <a class="card-footer-item" href="https://github.com/aldi/bulma-rent-template/" target="_blank">Source code</a>
          </footer>
        </div>
      </div>
      <div class="column is-6">
        <div class="card card7" style="animation-duration: 700ms; animation-name: slideDown; animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1.5); animation-delay: 1400ms;">
          <header class="card-header">
            <p class="card-header-title">
              <span>Hotel</span>
              <span class="is-pulled-right">
                <span class="tag is-success">Updated</span>
                <span class="tag is-default is-info"><i class="fas fa-mobile-alt" title="Mobile support"></i></span>
                <span class="tag is-default is-info"><i class="fas fa-desktop" title="Desktop support"></i></span>
                <span class="tag is-primary">0.9.0</span>
              </span>
            </p>
          </header>
          <div class="card-content">
            <figure class="image">
              <img src="previews/hotel.png" alt="Hotel template screenshot">
            </figure>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" href="https://aldi.github.io/bulma-hotel-template/" target="_blank">Preview</a>
            <a class="card-footer-item" href="https://github.com/aldi/bulma-hotel-template/" target="_blank">Source code</a>
          </footer>
        </div>
      </div>
      <div class="column is-6">
        <div class="card card8" style="animation-duration: 700ms; animation-name: slideDown; animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1.5); animation-delay: 1600ms;">
          <header class="card-header">
            <p class="card-header-title">
              <span>Event Participation</span>
              <span class="is-pulled-right">
                <span class="tag is-success">Updated</span>
                <span class="tag is-default is-info"><i class="fas fa-mobile-alt" title="Mobile support"></i></span>
                <span class="tag is-default is-info"><i class="fas fa-desktop" title="Desktop support"></i></span>
                <span class="tag is-primary">0.9.0</span>
              </span>
            </p>
          </header>
          <div class="card-content">
            <figure class="image">
              <img src="previews/event.png" alt="Event Participation template screenshot">
            </figure>
          </div>
          <footer class="card-footer">
            <a href="https://aldi.github.io/bulma-event-participation-template/" class="card-footer-item" target="_blank">Preview</a>
            <a href="https://github.com/aldi/bulma-event-participation-template/" class="card-footer-item" target="_blank">Source Code</a>
          </footer>
        </div>
      </div>
      <div class="column is-6">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              <span>Coming Soon</span>
              <span class="is-pulled-right">
                <span class="tag is-default is-info"><i class="fas fa-mobile-alt" title="Mobile support"></i></span>
                <span class="tag is-default is-info"><i class="fas fa-desktop" title="Desktop support"></i></span>
                <span class="tag is-primary">0.9.0</span>
              </span>
            </p>
          </header>
          <div class="card-content">
            <figure class="image">
              <img src="previews/coming_soon.png" alt="Coming Soon template screenshot">
            </figure>
          </div>
          <footer class="card-footer">
            <a href="https://aldi.github.io/bulma-coming-soon-template/" class="card-footer-item" target="_blank">Preview</a>
            <a href="https://github.com/aldi/bulma-coming-soon-template/" class="card-footer-item" target="_blank">Source Code</a>
          </footer>
        </div>
      </div>
      <div class="column is-6">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title has-text-centered">
              <span>Your New Template?</span>
            </p>
          </header>
          <div class="card-content">
            <figure class="image">
              <img src="previews/dummy.png" alt="Your future template screenshot">
            </figure>
          </div>
          <footer class="card-footer">
            <a href="https://github.com/aldi/awesome-bulma-templates/blob/master/CONTRIBUTING.md" class="card-footer-item">Visit the Contribution Guide</a>
            <a href="https://github.com/aldi/awesome-bulma-templates/pulls" class="card-footer-item">Submit a Pull Request</a>
          </footer>
        </div>
      </div>
    </div>
    <div class="container content-wrapper mt-6">
      <div class="columns">
        <div class="column is-12">
          <div class="card">
            <div class="box">
              <p class="has-text-centered">More templates coming soon. Stay tuned!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>