
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Aldi Duzha" />
    <meta
      name="description"
      content="Bulma Hotel is a business hotel with unmatched hospitality, convenience &amp; comforts. Bulma Hotel is an ideal choice for your stay. Whether business trip or just a weekend leisure."
    />
    <meta name="keywords" content="bulma, hotel, website, template, free, awesome" />

    <link rel="canonical" href="" />
    <title>Bulma Sushi Restaurant</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>

  </head>
  <body id="lightgallery">
    <section class="hero main_hero is-fullheight">
      <div class="hero-head">
        <div class="first_nav">
          <div class="container">
            <nav class="navbar">
              <div class="navbar-brand">
                <a class="navbar-item" href="/">
                  <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma Hotel" width="112" height="28" />
                </a>
                <a class="navbar-item is-hidden-desktop" href="tel:0312345678">
                  <span class="icon" style="color: #333;">
                    <i class="fa fa-lg fa-phone-alt"></i>
                  </span>
                </a>
                <a class="navbar-item is-hidden-desktop" href="mailto:">
                  <span class="icon" style="color: #333;">
                    <i class="fa fa-lg fa-envelope"></i>
                  </span>
                </a>
                <a class="navbar-item is-hidden-desktop" href="#" target="_blank">
                  <span class="icon">
                    <i class="fab fa-lg fa-facebook-f"></i>
                  </span>
                </a>
                <!-- Mobile Menu -->
                <div class="navbar-burger burger" data-target="navMenuBlogHero">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
              <!-- Menu -->
              <div id="navMenuBlogHero" class="navbar-menu">
                <!-- Left Nav -->
                <div class="navbar-start">
                  <a class="navbar-item is-active">トップ</a>
                  <a class="navbar-item" href="#rooms">贅沢</a>
                  <a class="navbar-item" href="#hotel-gallery">お料理</a>
                  <a class="navbar-item" href="#about-us">美学</a>
                  <a class="navbar-item" href="#contact-us">お問合せ</a>
                </div>
                <!-- ./Left Nav -->
                <!-- Right Nav -->
                <div class="navbar-end">
                  <div class="navbar-item">
                    <div class="field is-grouped">
                      <p class="control">
                        <a class="button is-normal is-facebook">
                          <span class="icon">
                            <i class="fab fa-facebook-f"></i>
                          </span>
                          <span>Facebook</span>
                        </a>
                      </p>
                      <p class="control">
                        <a class="button is-normal is-info" href="tel:0312345678">
                          <span class="icon">
                            <i class="fa fa-phone-alt"></i>
                          </span>
                          <span>お電話はこちら</span>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="slider-content animated zoomIn pb-6">
            <div class="is-flex  is-flex-direction-row-reverse is-justify-content-center">
              <p class="title is-1 main-text">贅沢なひととき</p>
              <p class="subtitle is-4 main-text">和の美学を感じる、新鮮なお寿司を</p>
            </div>
          </div>
          <span class="scroll-down animated zoomIn">
            <svg
              width="30px"
              height="100%"
              viewBox="0 0 247 390"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              style="
                fill-rule: evenodd;
                clip-rule: evenodd;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-miterlimit: 1.5;
              "
            >
              <path id="wheel" d="M123.359,79.775l0,72.843" style="fill: none; stroke: #fff; stroke-width: 20px;" />
              <path
                id="mouse"
                d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z"
                style="fill: none; stroke: #fff; stroke-width: 20px;"
              />
            </svg>
          </span>
        </div>
      </div>
    </section>
    <!-- Rooms Section -->
    <section class="hero" id="rooms">
      <div class="hero-body">
        <div class="container">
          <div class="rooms columns">
            <!-- Executive Gold Single -->
            <div class="column">
              <figure class="image">
                <a class="items" href="<%= require('./images/sushi0014.jpg') %>">
                  <img src="<%= require('./images/sushi0014.jpg') %>"  alt="Sushi template screenshot">
                </a>
              </figure>
              <div class="content">
                <div></div>
                <h1 class="title is-6 is-min">故郷の地酒</h1>
                <p>The Executive Gold Single Rooms can hold <b>2 guests</b> (with extra bed €50).</p>
                <a class="button is-primary open-modal" href="#">View Details €119/day</a>
              </div>
            </div>
            <!-- Executive Gold Double -->
            <div class="column">
              <figure class="image">
                <a class="items" href="<%= require('./images/sushi9962.jpg') %>">
                  <img src="<%= require('./images/sushi9962.jpg') %>"  alt="Sushi template screenshot">
                </a>
              </figure>
              <div class="content">
                <div></div>
                <h1 class="title is-6 is-min">少し特別な日に</h1>
                <p>The Executive Gold Double Rooms can hold <b>3 guests</b> (with extra bed €50).</p>
                <a class="button is-primary open-modal" href="#">View Details €239/day</a>
              </div>
            </div>
            <!-- Premier Diamond Single -->
            <div class="column">
              <figure class="image">
                <a class="items" data-src="https://www.youtube.com/watch?v=LgTMdD1-oAg"
                data-poster="https://img.youtube.com/vi/LgTMdD1-oAg/maxresdefault.jpg"
                data-sub-html="<h4>Puffin Hunts Fish To Feed Puffling | Blue Planet II | BBC Earth</h4><p>On the heels of Planet Earth II's record-breaking Emmy nominations, BBC America presents stunning visual soundscapes from the series' amazing habitats.</p>"
                >
                  <img style="height:175px;width:auto;" src="https://img.youtube.com/vi/LgTMdD1-oAg/maxresdefault.jpg"  alt="Sushi template screenshot">
                </a>
              </figure>
              <div class="content">
                <div></div>
                <h1 class="title is-6">Premier Diamond Single</h1>
                <p>The Premier Diamond Single rooms can hold <b>2 guests</b> (with extra bed €50).</p>
                <a class="button is-primary open-modal" href="#">View Details €399/day</a>
              </div>
            </div>
            <!-- Premier Diamond Double -->
            <div class="column">
              <figure class="image">
                <a class="items" href="<%= require('./images/sushi9969.jpg') %>">
                  <img src="<%= require('./images/sushi9969.jpg') %>"  alt="Sushi template screenshot">
                </a>
              </figure>

              <div class="content">
                <div></div>
                <h1 class="title is-6">Premier Diamond Double</h1>
                <p>he Premier Diamond Double rooms can hold <b>3 guests</b> (with extra bed €50).</p>
                <a class="button is-primary open-modal" href="#">View Details €499/day</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="hero" id="about-us">
      <div class="hero-body">
        <div class="container">
          <div class="content">
            <h4 class="main_title title is-4">新鮮なお寿司こそ、和の美学</h4>
          </div>
          <div class="columns content">
            <div class="column">
              <p>当店は、お客様に一流のお寿司を提供する、厳選された食材を使用した高級感あふれるダイニング型の店舗です。<br>
                新鮮なネタを厳選し、独自の技法で握られる一品一品は、素材の味を最大限に引き出し、贅沢な舌触りと深みのある味わいが楽しめます。</p>
                <p>また、店内は和モダンな雰囲気に包まれており、上質な空間で心地よい時間を過ごしていただけます。<br>
                  さらに、当店はリーズナブルな価格設定を心掛けており、高級感のあるお寿司を手軽にご堪能いただけます。</p>
                  <p>大人の方にこだわりの一皿をご提供し、特別なひとときを演出いたします。お友達やご家族との会食や特別な日のお祝いなど、様々なシーンで当店のお寿司をご堪能ください。心からのおもてなしで、お客様をお迎えいたします。</p>
              <div class="reception">
                <h5 class="main_title title is-5">事前のご予約について</h5>
                <div class="reception-item">
                  <div>
                    <div>
                      <i class="fa fa-phone"></i>
                      <span>Phone Number</span>
                    </div>
                    <a href="tel:+302109999999">+30 210 9999999</a>
                  </div>
                  <a href="tel:+302109999999" class="button mobile-only">
                    <span>Call</span>
                  </a>
                </div>
                <div class="reception-item">
                  <div>
                    <div>
                      <i class="fa fa-phone"></i>
                      <span>Reservation</span>
                    </div>
                    <a href="tel:+302109999997">+30 2109999997</a>
                  </div>
                  <a href="tel:+302109999997" class="button mobile-only">
                    <span>Call</span>
                  </a>
                </div>
                <div class="reception-item">
                  <div>
                    <div>
                      <i class="fa fa-envelope"></i>
                      <span>Email</span>
                    </div>
                    <a href="mailto:reservations@bulmahotels.com">reservations@bulmahotels.com</a>
                  </div>
                  <a href="mailto:reservations@bulmahotels.com" class="button mobile-only">
                    <span>Mail</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- Reception Image -->
            <div class="column reception-image">
              <a href="<%= require('./images/sushi9967.jpg') %>" class="items">
                <img
                src="<%= require('./images/sushi9967.jpg') %>"
                alt="Bulma Hotels"
              />
              </a>
            </div>
          </div>
          <div class="content">
            <h5 class="main_title title is-5">アクセス</h5>
            <p>
              Bulma Hotel is a business hotel with 45 air conditioned luxury rooms. The hotel is conveniently located in
              close proximity to Athens, Greece.
            </p>
            <ul>
              <li>3 kms from Kifisia bus station and railway station.</li>
              <li>25 kms from Athens International Airport.</li>
              <li>Less than 2 km from nearest shopping malls (The Mall Athens, &amp; Icon Mall).</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- ./About Section -->
    <!-- Gallery Section -->
    <section class="hero" id="hotel-gallery">
      <div class="hero-body is-paddingless">
        <div class="container is-clipped">
          <div class="content">
            <h4 class="main_title title is-4">お料理</h4>
          </div>
          <section class="section is-paddingless">
            <div id="slider">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-16by9 is-covered">
                    <img
                      src="<%= require('./images/sushi9864.jpg') %>"
                      alt=""
                    />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="item__title">
                    Mon titre 1
                  </div>
                  <div class="item__description">
                    Ici une petite description pour tester le slider
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-image">
                  <figure class="image is-16by9 is-covered">
                    <img
                      src="<%= require('./images/sushi9903.jpg') %>"
                      alt=""
                    />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="item__title">
                    Mon titre 2
                  </div>
                  <div class="item__description">
                    Ici une petite description pour tester le slider
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-image">
                  <figure class="image is-16by9 is-covered">
                    <img
                      src="<%= require('./images/sushi9907.jpg') %>"
                      alt=""
                    />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="item__title">
                    Mon titre 3
                  </div>
                  <div class="item__description">
                    Ici une petite description pour tester le slider
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-image">
                  <figure class="image is-16by9 is-covered">
                    <img
                      src="<%= require('./images/sushi9908.jpg') %>"
                      alt=""
                    />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="item__title">
                    Mon titre 4
                  </div>
                  <div class="item__description">
                    Ici une petite description pour tester le slider
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-image">
                  <figure class="image is-16by9 is-covered">
                    <img
                      src="<%= require('./images/sushi9911.jpg') %>"
                      alt=""
                    />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="item__title">
                    Mon titre 5
                  </div>
                  <div class="item__description">
                    Ici une petite description pour tester le slider
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
    <!-- ./Gallery Section -->
    <!-- Contact Us Section -->
    <section class="hero" id="contact-us">
      <div class="hero-body">
        <div class="container">
          <div>
            <div class="content">
              <h4 class="title is-4">お問合せ</h4>
            </div>
            <h6 class="subtitle is-6">お気軽にお問合せください</h6>
            <div class="columns box">
              <form class="column" action="#">
                <div class="field">
                  <label class="label">お名前</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="寿司 太郎" required="" />
                  </div>
                </div>
                <div class="field">
                  <label class="label">メールアドレス</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="info@sushitarou.jp" required="" />
                  </div>
                </div>
                <div class="field">
                  <label class="label">電話番号</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="0312345678" required="" />
                  </div>
                </div>
                <div class="field">
                  <label class="label">ご用件</label>
                  <div class="control">
                    <textarea
                      class="textarea"
                      type="text"
                      placeholder=""
                      required=""
                    ></textarea>
                  </div>
                </div>
                <div class="field">
                  <label class="label"></label>
                  <div class="control">
                    <input class="button is-primary" type="submit" />
                  </div>
                </div>
              </form>
              <div class="column">
                <iframe
                  width="100%"
                  height="100%"
                  frameborder="0"
                  style="border: 0;"
                  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3241.7737224963994!2d139.7431086762241!3d35.65794622259465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1682143130042!5m2!1sja!2sjp"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ./Contact Us Section -->
    <!-- Footer Section -->
    <footer class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-4">
              <div class="content">
                <h6 class="footer_title title is-6">ニュースレター</h6>
                <p>特別な御招待券をお送りしております。</p>
                <div class="newsletter">
                  <form action="#" method="POST" class="newsletter-form">
                    <input type="email" name="email" placeholder="メールアドレスを入力してください" />
                    <button>
                      <i class="fa fa-paper-plane"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="column is-4" style="text-align: center;">
              <div class="content">
                <div>
                  <h6 class="footer_title title is-6">SNS</h6>
                  <p>フォローをお願いいたします</p>
                  <a class="button is-medium is-facebook">
                    <span class="icon">
                      <i class="fab fa-facebook-f fa-lg"></i>
                    </span>
                  </a>
                  <a class="button is-medium is-foursquare">
                    <span class="icon">
                      <i class="fab fa-foursquare fa-lg"></i>
                    </span>
                  </a>
                  <a class="button is-medium is-twitter">
                    <span class="icon">
                      <i class="fab fa-twitter fa-lg"></i>
                    </span>
                  </a>
                  <a class="button is-medium is-linkedin">
                    <span class="icon">
                      <i class="fab fa-linkedin-in fa-lg"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="column is-4">
              <div class="content">
                <h6 class="footer_title title is-6">所在地</h6>
                <p class="is-marginless">お気をつけてお越しください</p>
                <p class="is-marginless">〒105-0011 東京都港区芝公園４丁目２−８</p>
                <div>
                  <i class="fa fa-phone"></i> &nbsp; <span>TEL</span> &nbsp;
                  <a href="tel:+302109999999">03-0000-0000</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot">
        <div class="container has-text-centered">
          <p class="footer-text">
            &copy; 2023 - Bulma Sushi Restaurant. All rights reserved. <br />
            <div id="author"></div>
          </p>
        </div>
      </div>
    </footer>
  </body>

  <!-- lightgalleryのJSファイルの読み込み -->
</html>
